@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout"; 
}

@model IEnumerable<BankCMS_.Models.Customer> 

<h1>Customer Information</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model) 
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>
                    <a href="@Url.Action("Details", "Customer", new { id = customer.CustomerId })" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
